<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary"
      (click)= "onlyOdd=!onlyOdd"> Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd">
            <li class="list-group-item" *ngFor="let odd of oddNumber"
            [ngClass]="{odd:odd % 2 == 1}">
                {{odd}}
            </li>                  
        </div>
        <div *ngIf="!onlyOdd">
            <li class="list-group-item" *ngFor="let even of evenNumber"
            [ngClass]="{even:even % 2 == 0}">
                {{even}}
            </li>                  
        </div>         -->

       
        <li class="list-group-item" *ngFor="let number of numbers" 
          [ngClass]="{odd:number % 2 == 1,even:number % 2 == 0}"
          [ngStyle] ="{'font-size':'20px','font-style':'Arial',
          'background-color': number % 2 == 0? 'red':'green'}" >
            {{number}}
        </li> 
                
        <!--    
                    ***********************************  
                     How *ngIf="!onlyOdd" really work ?
                    ***********************************          
            The '*' is not an operator or something used in the angular syntax when using 
            directive or property binding, in angular there is only :  
            1- property binding
            2- event binding 
            3- two ways binding 
            4- string interpolation

            it is just a way of telling angular this is a structural directive, do
            your magic trick and create a <ng-template [ngIf]="!onlyOdd"> behind 
            the scene using a property binding [ngIf]="!onlyOdd"
            See the transformation here after:
        -->
        <ng-template [ngIf]="!onlyOdd">
            <h1>showing template...</h1>           
            <div >
                <li class="list-group-item" *ngFor="let even of evenNumber"
                [ngClass]="{even:even % 2 == 0}">
                    {{even}}
                </li>                  
            </div> 
        </ng-template>

        <!-- 
            Creating our own directive which do the opposite of if 
        -->
        <div *appUnless ="onlyOdd" >
          <h4>Using Unless directive for onlyOdd</h4>
            <li class="list-group-item" *ngFor="let odd of oddNumber"
            [ngClass]="{odd:odd % 2 == 1}">
                {{odd}}
            </li>                  
        </div>
        

        <ng-template [appUnless]="onlyOdd">
            <h4>(ng-template): Using Unless directive for onlyOdd</h4>
            <li class="list-group-item" *ngFor="let odd of oddNumber"
            [ngClass]="{odd:odd % 2 == 1}">
                {{odd}}
            </li>  
        </ng-template>
        
      </ul>
      <p appBasicHighlight>Style me with a basic directive</p>
      
      
      <!-- 
          
                CUSTOM property binding:
          Note that a 'highLightColor' property has an alias named after appBetterHighlight 
          directive, that why we use close bracket, to indicate that it's property and also a directive 
          in one shot!, this will allow us to assign a highLightColor to the HTML element ('p'), i.e
          to overwrite the highLightColor set initially in ts as 'blue' 

                        Dynamic setting color for directive
          <p appBetterHighlight [defaultColor]="'yellow'" [highLightColor]="'red'">Style me with a better directive </p>
      -->
      <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'" >Style me with a better directive 2</p>
      

      <h1>ngswitch</h1>
          <div [ngSwitch]="value">
              <!-- 
                angular will transform behind the scenes *ngSwitchCase="5" 
                to <ng-template [ngSwitchCase]="5"><p>value is 5</p></ng-template>  
                -->
            <p *ngSwitchCase="5">value is 5</p>
            <p *ngSwitchCase="10">value is 10</p>
            <p *ngSwitchCase="100">value is 100</p>
            <p *ngSwitchDefault>value is other than 5,10 or 100</p>  
          </div>
    </div>
  </div>  
</div>  
  
